<div class="comments">
    {{#each this}} <!-- this refers to the comments array that contains all comment objects -->
    <section class="comment">
        <div class="meta">
            {{user.username}} on {{created_at}}
        </div>
        <div class="text">
            {{text}}
        </div>
    </section>
    {{/each}}
</div>